
body
{        
    font-family: Verdana, Arial, sans-serif;		
}

div.copyspace
{

}

div.copyspace p
{

}

div.featuredProject
{

}

div.menu 
{

}

div.menu a 
{
    color: black;    
    font-weight: bold;          
    text-decoration: none;
}

div.menu a:link
{
    background: lightgray;
}

div.menu a:visited 
{
    background: lightgray;
}

div.menu a:hover 
{
    background: silver;
}

table
{
    border: 1px dotted #666677;
    color: #000000;
    width: 100%;	
}

tr.odd 
{
    background-color: #FFFFFF;
}

tr.even 
{
    background-color: #DDDDDD;
}

.featuredProjectNavigation
{        
        border-color: black;
}

.featuredProjectNavigation a:hover 
{
        background-color: silver;
}
