<server description="new server">

    <!-- 
        this file is located under:
        /opt/websphere/liberty-profile/wlp/usr/servers/defaultServer/
    -->
    
    <!-- Enable features -->
    <featureManager>
        <feature>jsp-2.2</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443"
                  host="*" />

	<webApplication location="/home/pi/photorama-viewer-webapp/instances/current"
                   contextRoot="make-san-antonio"/>

</server>
